@import "bootstrap";
.container-dark{
    @extend .container;
    width: 90%;
}
.row-dark-1{
    @extend .row;
    background: rgb(41, 252, 153);
    color: rgb(0, 0, 0);
    font-size: 1.1rem;
    align-items: center;
    font-weight: 500;
    border: 1px solid rgb(0, 0, 0);
    font-family: 'Mochiy Pop P one', sans-serif;
    :hover{
        background-color: rgb(0, 0, 0);
        color: rgb(41, 252, 153);
    }
};
.row-dark-2{
    @extend .row;
    background: rgb(123, 238, 247);
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    place-content: flex-start;
    font-size: 1rem;
    font-weight: 500;
    border: 1px solid rgb(0, 0, 0);
    font-family: 'Mochiy Pop P one', sans-serif;
    :hover{
        background-color: rgb(0, 0, 0);
        color:rgb(123, 238, 247);
    }
};
.row-dark-3{
    @extend .row;
    background: rgb(253, 212, 159);
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    place-content: flex-end;
    font-size: 1rem;
    font-weight: 500;
    border: 1px solid rgb(0, 0, 0);
    font-family: 'Mochiy Pop P one', sans-serif;
    :hover{
        background-color: rgb(0, 0, 0);
        color: rgb(253, 212, 159);
    }
};
.col-dark-1{
    @extend .col;
    display: flex;
    align-items: center;
    height: 70px;
    border: 0.25px solid rgb(0, 0, 0);
};
.col-dark-2{
    @extend .col;
    display: flex;
    align-items: center;
    height: 30px;
    border: 0.25px solid rgb(0, 0, 0);
};
.row-min{
    @extend .row;
    min-height: 20px;
}
.title{
    display: grid;
    place-items: center;
    height: 120px;
    font-size: 2rem;
    font-weight: 700;
    color:rgb(62, 0, 119);
    font-family: 'Mochiy Pop P one', sans-serif;
};
.wrapper {
    text-align: center;
}
.wrapper ul {
    // display: inline-block;
    margin: 0;
    padding: 0;
    /* For IE, the outcast */
    zoom:1;
    *display: inline;
}
.wrapper li {
    float: left;
    padding: 2px 5px;
    border: 1px solid black;
}