@import "bootstrap";
.container-dark{
    @extend .container;
    width: 90%;
}
.container-dark-2{
    @extend .container;
    width: 90%;
    background-color: aliceblue;
}
.row-dark-1{
    @extend .row;
    background: rgb(41, 252, 153);
    color: rgb(0, 0, 0);
    font-size: 1.1rem;
    align-items: center;
    font-weight: 500;
    border: 1px solid rgb(0, 0, 0);
    font-family: 'Mochiy Pop P one', sans-serif;
    :hover{
        background-color: rgb(0, 0, 0);
        color: rgb(41, 252, 153);
    }
};
.row-dark-2{
    @extend .row;
    background: rgb(123, 238, 247);
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    place-content: flex-start;
    font-size: 1rem;
    font-weight: 500;
    border: 1px solid rgb(0, 0, 0);
    font-family: 'Mochiy Pop P one', sans-serif;
    :hover{
        background-color: rgb(0, 0, 0);
        color:rgb(123, 238, 247);
    }
};
.row-dark-3{
    @extend .row;
    background: rgb(253, 212, 159);
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    place-content: flex-end;
    font-size: 1rem;
    font-weight: 500;
    border: 1px solid rgb(0, 0, 0);
    font-family: 'Mochiy Pop P one', sans-serif;
    :hover{
        background-color: rgb(0, 0, 0);
        color: rgb(253, 212, 159);
    }
};
.row-dark-4{
    @extend .row;
    background: rgb(41, 252, 153);
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 500;
    border: 1px solid rgb(0, 0, 0);
    font-family: 'Mochiy Pop P one', sans-serif;
    :hover{
        background-color: rgb(0, 0, 0);
    }
};
.col-dark-1{
    @extend .col;
    display: flex;
    align-items: center;
    min-height: 70px;
    border: 0.25px solid rgb(0, 0, 0);
};
.col-dark-2{
    @extend .col;
    display: flex;
    align-items: center;
    height: calc(100% - 100px);
    border: 0.25px solid rgb(0, 0, 0);
};
.row-min{
    @extend .row;
    min-height: 20px;
}
.title{
    display: grid;
    place-items: center;
    height: 120px;
    font-size: 2rem;
    font-weight: 700;
    color:rgb(62, 0, 119);
    font-family: 'Mochiy Pop P one', sans-serif;
};
.sub-title{
    display: grid;
    place-items: center;
    height: 80px;
    font-size: 1.5rem;
    font-weight: 700;
    color:rgb(62, 0, 119);
    font-family: 'Mochiy Pop P one', sans-serif;
};
.text{
    display: grid;
    place-items: center;
    margin-left: 15%;
    margin-right: 15%;
    min-height: 30px;
    font-size: 1rem;
    font-weight: 700;
    color:rgb(62, 0, 119);
    font-family: 'Mochiy Pop P one', sans-serif;
    border: 0.25px solid rgb(0, 0, 0);
};
.wrapper {
    text-align: center;
}
.wrapper ul {
    // display: inline-block;
    margin: 0;
    padding: 0;
    /* For IE, the outcast */
    zoom:1;
    *display: inline;
}
.wrapper li {
    float: left;
    padding: 2px 5px;
    border: 1px solid black;
}
.hoverTable{
		width:100%; 
		border-collapse:collapse; 
	}
	.hoverTable td{ 
		padding:7px; border:rgb(0, 0, 0) 1px solid;
	}
    .hoverTable th{ 
		padding:7px; border:#000000 1.25px solid;
        background-color: rgb(123, 238, 247);
	}
	/* Define the default color for all the table rows */
	.hoverTable tr{
		background: rgb(253, 212, 159);
	}
	/* Define the hover highlight color for the table row */
    .hoverTable tr:hover {
          background-color: rgb(0, 0, 0);
          color:rgb(247, 140, 0);
          border-color: rgb(253, 212, 159) 1.25px solid;
    }
    .hoverTable th:hover {
        background-color: rgb(0, 0, 0);
        color:rgb(123, 238, 247);
        border-color: rgb(123, 238, 247) 1.25px solid;
  }
.lr{
    margin-left: 2%;
    margin-right: 2%;
}
.mydiv{
    @extend .container-dark;
    margin-left: 10%;
    margin-right: 10%;
    min-height: 40%;
}

@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&subset=greek-ext');

.text-center{
	color:#fff;	
	text-transform:uppercase;
    font-size: 23px;
    margin: -50px 0 80px 0;
    display: block;
    text-align: center;
}
.box{
	position:absolute;
	left:50%;
	top:50%;
	transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.89);
	border-radius:3px;
	padding:70px 100px;
    margin-top: 10px;
    
}
.input-container{
	position:relative;
	margin-bottom:25px;
}
.input-container label{
	position:absolute;
	top:0px;
	left:0px;
	font-size:16px;
	color:#fff;	
    pointer-event:none;
	transition: all 0.5s ease-in-out;
}
.input-container input{ 
  border:0;
  border-bottom:1px solid #555;  
  background:transparent;
  width:100%;
  padding:8px 0 5px 0;
  font-size:16px;
  color:#fff;
}
.input-container input:focus{ 
 border:none;	
 outline:none;
 border-bottom:1px solid #e74c3c;	
}
.btn{
	color:#fff;
	background-color:#e74c3c;
	outline: none;
    border: 0;
    color: #fff;
	padding:10px 20px;
	text-transform:uppercase;
	margin-top:40px;
	border-radius:10%;
	cursor:pointer;
	position:relative;
    margin-left: 10px;
    margin-bottom: 10px;
}
/*.btn:after{
	content:"";
	position:absolute;
	background:rgba(0,0,0,0.50);
	top:0;
	right:0;
	width:100%;
	height:100%;
}*/
.input-container input:focus ~ label,
.input-container input:valid ~ label{
	top:-12px;
	font-size:12px;
	
}
// a {
//     color: #FFF;
//   }
//   a:hover {
//      color: #00F
//   }