.App {
  text-align: center;
  /* background-color: rgb(247, 214, 213); */
  min-height: 100vh;
  overflow: hidden;
  position: relative;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.match-card{
  position: relative;
  left:50%;
  transform: translate(-50%,0%);
  background: rgba(255,255,255,0.5);
  border-radius: 10px;
  overflow: hidden;
  transition: 0.5s;
  box-shadow: 0 0 0 10px rgba(255,255,255,0.2);
  color: #000000;
}
.match-card h2{
  width:100%;
  margin: 0;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
  transition: 0.5s;
}
.match-card h5{
  width:100%;
  margin: 0;
  padding: 20px;
  float: left;
  text-align: center;
  box-sizing: border-box;
  transition: 0.5s;
  background: #faf38e;
}
.match-card:hover{
  background: #fff;
}
.match-card h2{
  background: #393464;
  color: #fff;
}
.match-card:hover h2{
  background: #050031;
  color: #fff;
}
.match-card:hover h5{
  background: #ffee00;
  color: rgb(0, 0, 0);
}
.team1{
  width: 35%;
  float: left;
  padding: 10px 20px 0px 20px;
  box-sizing: border-box;
  text-align: center;
}
.team2{
  width: 35%;
  float: left;
  padding: 10px 20px 0px 20px;
  box-sizing: border-box;
  text-align: center;
}
.team1 img,
.team2 img{
  width:75px;
  min-height: 75px;
}
.details{
  width:30%;
  float:left;
  text-align: center;
}
h4.team-name{
  padding: 15px 0 0;
  margin-bottom: 20px;
  text-align: center;
}
.match-details{
  position: relative;
}
.date{
  margin: 20px 0 0;
}
.versus{
  width: 50px;
  height: 50px;
  font-size: 24px;
  border-radius: 50px;
  background: #e91e63;
  color: #fff;
  text-align: center;
  line-height: 50px;
  margin: 20px auto;
}
.match-details:after{
  content: '';
  position: absolute;
  width:50%;
  left:0;
  background: green;
}
.ipl-table-wrapper {
  /* display: flex;
  flex-direction: column; */
  padding: 2.5% 5%;
  /* overflow: hidden;
  position: relative; */
}
.ipl-table-wrapper sup {
  margin-right: -0.45vw;
}
 .App:after {
     content: "";
     position: absolute;
     width: 100%;
     height: 300%;
    background-image: linear-gradient(60deg, rgba(35, 40, 130, 0.5) 20%, rgba(255, 30, 80, 1));
     border-radius: 0% 5000px 5000px 0%;
     top: 50%;
     z-index: -1;
    transform: translate(-50%,-50%) rotate(45deg);
    flex-grow: inherit;
 }
.ipl-table-wrapper .table-section {
  display: flex;
  justify-content: space-around;
  z-index: 2;
}
.ipl-table-wrapper .table-section > div {
  min-width: 48%;
}
.ipl-table-wrapper .table-section > div .table-title {
  color: #232882;
  font-weight: bold;
  background-color: #fff;
  border-radius: 500px;
  margin-bottom: 15px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 105%;
  padding: 15px 25px;
  font-size: 1.25rem;
}
.ipl-table-wrapper .table-section > div .table-title img {
  width: 60px;
  vertical-align: middle;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}
.ipl-table-wrapper .table-section > div:first-child .table-title {
  margin-left: -30px;
  text-align: right;
}
.ipl-table-wrapper .table-section > div:last-child .table-title {
  margin-left: 0px;
}
.ipl-table-wrapper .table-section > div .ipl-table {
  width: 100%;
  background-color: #fff;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
}
.ipl-table-wrapper .table-section > div .ipl-table tr.head {
  background-image: linear-gradient(80deg, #ff1e50 20%, #232882);
}
.ipl-table-wrapper .table-section > div .ipl-table tr.head th, .ipl-table-wrapper .table-section > div .ipl-table tr.head td {
  color: #fff;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 10px 15px;
  text-align: center;
  background-color: transparent !important;
}
.ipl-table-wrapper .table-section > div .ipl-table tbody td {
  color: #232882;
  font-weight: bold;
  font-size: 1.25rem;
  padding: 10px 15px;
  overflow: hidden;
  background-color: #fff;
}
.ipl-table-wrapper .table-section > div .ipl-table tbody td:first-child {
  box-shadow: inset 0px 20px 35px -15px rgba(35, 40, 130, 0.15);
}
.ipl-table-wrapper .table-section > div .ipl-table tbody td:last-child {
  font-weight: normal;
}
.ipl-table-wrapper .table-section > div .ipl-table tbody td:not(:first-child) {
  min-width: 70px;
  max-width: 700px;
  box-shadow: inset 20px 20px 35px -15px rgba(35, 40, 130, 0.15);
  border-left: 2px solid #ff1e50;
  text-align: center;
}
.ipl-table-wrapper .table-section > div .ipl-table tbody tr.head td {
  font-size: 1.5rem;
}
.App .footer-section {
  z-index: 2;
}
.App .footer-section .ipl-table-footer {
  color: #232882;
  font-weight: bold;
  background-color: #fff;
  border-radius: 500px;
  margin-bottom: 15px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
  width: 102% !important;
  font-size: 1.25rem;
  text-align: center;
  padding: 20px 25px;
  margin-top: 12px;
  margin-left: -15px;
  position: relative;
}
@media (max-width: 767px) {
  .ipl-table-wrapper .table-section {
      flex-wrap: wrap;
 }
  .ipl-table-wrapper .table-section > div {
      width: 96%;
 }
  .ipl-table-wrapper .table-section > div .table-title {
      font-size: 5.5rem;
 }
  .ipl-table-wrapper .table-section > div:first-child .table-title {
      margin-left: -15px;
 }
  .ipl-table-wrapper .table-section > div:last-child .table-title {
      margin-left: -15px;
      margin-top: 15px;
 }
  .ipl-table-wrapper .table-section > div .ipl-table tr.head th, .ipl-table-wrapper .table-section > div .ipl-table tr.head td {
      font-size: 5.5rem;
 }
  .ipl-table-wrapper .table-section > div .ipl-table tbody td {
      font-size: 3.2rem;
 }
  .ipl-table-wrapper .table-section > div .ipl-table tbody tr.head td {
      font-size: 4rem;
 }
  .ipl-table-wrapper .footer-section .ipl-table-footer {
      margin-left: -7.5px;
      font-size: 4rem;
 }
  .ipl-table-wrapper:after {
      width: 95%;
      height: 120%;
      border-radius: 500px 500px 0% 0%;
      top: 50%;
      transform: translate(-5%, -50%) rotate(15deg);
 }
}

.cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  /* flex-wrap: wrap; */
}

.card {
  margin: 2%;
  width: 20%;
  height: 200px;
  border-radius: 50px;
  place-content: center;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  cursor: pointer;
  transition: 0.4s;
  /* font-size: 3rem; */
  color: #232882;
  float: left;
  font-size: 28px;
  font-style: bold;
}

.card .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.card .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
}

.card .card_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: -80px;
  height: 40px;
}

.card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
    -5px -5px 30px 15px rgba(0,0,0,0.22);
  color:#ff1e50;
}

.title-white {
  color: white;
}

.title-black {
  color: black;
}

@media all and (max-width: 500px) {
  .card-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}

/* https://codepen.io/abhishek747/pen/BbWKVa */
