@import "bootstrap";
.container-dark{
    @extend .container;
    width: 90%;
}
.title{
    display: grid;
    place-items: center;
    height: 120px;
    font-size: 2rem;
    font-weight: 700;
    color:rgb(62, 0, 119);
    font-family: 'Mochiy Pop P one', sans-serif;
};
.sub-title{
    display: grid;
    place-items: center;
    height: 80px;
    font-size: 1.5rem;
    font-weight: 700;
    color:rgb(62, 0, 119);
    font-family: 'Mochiy Pop P one', sans-serif;
};
.text{
    display: grid;
    place-items: center;
    margin-left: 15%;
    margin-right: 15%;
    min-height: 30px;
    font-size: 1rem;
    font-weight: 700;
    color:rgb(62, 0, 119);
    font-family: 'Mochiy Pop P one', sans-serif;
    border: 0.25px solid rgb(0, 0, 0);
};
.wrapper {
    text-align: center;
}
.wrapper ul {
    // display: inline-block;
    margin: 0;
    padding: 0;
    /* For IE, the outcast */
    zoom:1;
    *display: inline;
}
.wrapper li {
    float: left;
    padding: 2px 5px;
    border: 1px solid black;
}
.hoverTable{
		width:100%; 
		border-collapse:collapse; 
	}
	.hoverTable td{ 
		padding:7px; border:rgb(0, 0, 0) 1px solid;
	}
    .hoverTable th{ 
		padding:7px; border:#000000 1.25px solid;
        background-color: rgb(123, 238, 247);
	}
	/* Define the default color for all the table rows */
	.hoverTable tr{
		background: rgb(253, 212, 159);
	}
	/* Define the hover highlight color for the table row */
    .hoverTable tr:hover {
          background-color: rgb(0, 0, 0);
          color:rgb(247, 140, 0);
          border-color: rgb(253, 212, 159) 1.25px solid;
    }
    .hoverTable th:hover {
        background-color: rgb(0, 0, 0);
        color:rgb(123, 238, 247);
        border-color: rgb(123, 238, 247) 1.25px solid;
  }
.lr{
    margin-left: 2%;
    margin-right: 2%;
}

/* List */
// ul {
//     counter-reset: index;  
//     padding: 0;
//     max-width: 300px;
//   }
  
  /* List element */
  .poili {
    counter-increment: index; 
    display: flex;
    align-items: center;
    padding: 12px 0;
    box-sizing: border-box;
  }
  
  
  /* Element counter */
  .poili::before {
    content: counters(index, ".", decimal-leading-zero);
    font-size: 1.5rem;
    text-align: right;
    font-weight: bold;
    min-width: 50px;
    padding-right: 12px;
    font-variant-numeric: tabular-nums;
    align-self: flex-start;
    background-image: linear-gradient(to bottom, aquamarine, orangered);
    background-attachment: fixed;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  
  /* Element separation */
  .poili + .poili {
    border-top: 1px solid rgba(255,255,255,0.2);
  }
  
  
    